:root {
    --white: #fff;
    --black: #000000;
    --orange: #FF6336;
}

*,
*::after,
::before {
    box-sizing: border-box;
}

body {
    height: 100%;
    line-height: 21px;
    font-family: 'graphik_lcgregular', 'graphik_lcgsemibold', sans-serif;
    color: var(--white);
}

#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.header-panel {
    font-size: 14px;
    line-height: 16px;
    padding: 16px 0;
}

.logo {
        display: inline-block;
        vertical-align: middle;
}

.btn {
    height: 45px;
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: var(--black);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}

.btn:hover {
    background: var(--white);
}

.btn_two {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    border-radius: 0px;
    color: var(--white);
    background: var(--orange);
    text-decoration: none;
}

.btn_two:hover {
    background: var(--white);
    color: var(--black);
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu a {
    color: var(--base-color);
    text-decoration: none;
    transition: color var(--speed);
}

.menu a:hover {
    color: var(--hover-color);
}

.menu > li {
    display: inline-block;
    padding: 0 15px;
}