:root {
    --white: #fff;
    --black: #000000;
    --orange: #FF6336;
    --header-border: #ccc;
    --btn-hover-grey: #343434;
    --block2: #FF9C7D;
    --beige: #FFF8E4;
    --blue-blockquote: #C9E8F2;
    --color-cake: #DABC98;
}

*,
*::after,
::before {
    box-sizing: border-box;
}

body {
    height: 100%;
    line-height: 21px;
    font-family: 'graphik_lcgregular', 'graphik_lcgsemibold', sans-serif;
    color: var(--white);
}

#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    /* max-width: 1440px;
    width: 100%; */
}

#header {
    display: flex;
    padding: 24px 127px;
    border-bottom: 1px solid var(--header-border);
}

.logo-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-left: -85px;
}

.header-menu {
    flex-grow: 1;
    display: flex;
    list-style: none;
    margin: 0;
    color: var(--black);
}

.header-menu>li {
    padding: 0 27px;
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}

.header-menu li:hover {
    background: var(--orange);
    border-radius: 10px 5px;
}

.btn-wrapp {
    display: flex;
    list-style: none;
    gap: 0 7px;
    text-decoration: none;
    margin-left: 86%;
    margin-top: -40px;
}

.btn {
    min-width: 122px;
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}

.btn:hover {
    background: var(--header-border);
    color: #343434;
}

.btn_two {
    min-width: 123px;
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    border-radius: 0px;
    color: var(--white);
    background: var(--orange);
    text-decoration: none;
}

.btn_two:hover {
    background: #08a820;
    color: var(--black);
}

.block2 {
    display: flex;
}

.text1 {
    padding-top: 79px;
    padding-left: 76px;
}

.text1 h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: var(--black);
}

.text1 p {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: var(--black);
    padding-top: 11px;
}

.text1 .p_1 {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--black);
    padding-top: 8px;
}

.btn-wrapp-two {
    display: flex;
    list-style: none;
    gap: 0 7px;
    text-decoration: none;
    margin-right: 24px;
    margin-top: 51px;
}

.btn_3 {
    min-width: 161px;
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    border-radius: 0px;
    color: var(--white);
    background: var(--orange);
    text-decoration: none;
}

.btn_3:hover {
    background: #08a820;
    color: var(--black);
}

.btn_4 {
    min-width: 161px;
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}

.btn_4:hover {
    background: var(--header-border);
    color: #343434;
}

.image1 img {
    padding-top: 153px;
}

.block2_1 {
    background: var(--block2);
    height: 455px;
    margin-top: 160px;
}

.text2 h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: var(--black);
    padding-top: 100px;
}

.icons {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.icons>li {
    padding-left: 90px;
    padding-top: 44px;
}

.text2_block2 {
    padding-top: 198px;
}

.text22_h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: var(--black);
}

.text22_p {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    padding-bottom: 10px;
}

.text2_block2 a {
    color: var(--black);
}

.btn_5 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: var(--black);
}

.btn_5:hover {
    background: var(--header-border);
    color: #343434;
}

.row_reverse_one {
    display: flex;
    align-items: center;
    padding-left: 75px;
}

.image2 {
    padding-top: 70px;
    padding-left: 85px;
}

.text2_h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: var(--black);
}

.text2_p {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}

.text3_block3 p>a {
    color: var(--black);
}

.row_reverse {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 410px;
    padding-left: 75px;
}

.image3 img {
    padding-top: 250px;
    margin-left: -750px;
}

.text3_block3 {
    padding-top: 400px;
    margin-right: -223px;
}

.image5 {
    padding-top: 145px;
}

.image55 {
    margin-left: -1000px;
}

.image4 {
    margin-right: -373px;
    padding-top: 201px;
}

.block4 {
    background-color: var(--beige);
    min-height: 1033px;
}

.text4_h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: var(--black);
    padding-top: 120px;
}

.text5 h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: var(--black);
}

.text5 p {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}

.text4_block4 {
    padding-top: 423px;
}

.text2_p a {
    color: var(--black);
}

.text5_block5 {
    padding-top: 335px;
    margin-left: -200px;
    margin-right: -432px;
}

.image55 {
    margin-left: -1000px;
    padding-top: 70px;
    padding-bottom: 150px;
}

.icon4 a {
    text-decoration: none;
}

.icon_list {
    display: flex;
    text-align: center;
    padding-left: 113px;
    padding-top: 80px;
    list-style: none;
}

.icon_h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: var(--black);
    text-align: center;
}

.icon_p {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--black);
    text-align: center;
}

.icon_p a {
    color: var(--black);
}

.card {
    padding: 0 25px;
}

.block_6 {
    background: var(--white);
}

.block_6_h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: var(--black);
    padding-top: 155px;
    padding-left: 105px;
}

.text_6 a {
    color: var(--black);
}

.icons_h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: var(--black);
}

.icons_p {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}

.icons_list {
    display: flex;
    padding-left: 90px;
    padding-top: 75px;
    list-style: none;
}

.icons_list a {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}

.img_icon4 {
    padding-bottom: 35px;
}

.img2_icon4 {
    padding-bottom: 20px;
}

.quote {
background: var(--blue-blockquote);
display: flex;
}

.text_quote {
    padding-top: 10px;
}

blockquote p {
color: var(--black);
padding-left: 75px;
font-family: 'graphik_lcgregular';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;
}

figcaption {
    color: var(--black);
    padding-left: 114px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
}

.img_quote {
    padding-left: 114px;
    padding-top: 13px;
}

.autor_img {
    padding-top: 47px;
    padding-left: 181px;
    padding-bottom: 100px;
}

.block7 {
    display: flex;
background-color: var(--color-cake);
}

.cake_p {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: var(--black);
}

.vector2 {
    padding-bottom: 4px;
    margin-left: -16px;
}

.vector3 {
    padding-bottom: 23px;
    margin-left: -18px;
}

.ul_stars {
    display: flex;
list-style: none;
}
.block_star p {
font-family: 'graphik_lcgregular';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
letter-spacing: 0.75px;
color: var(--black);
}

.block_li {
    border-left: 3px solid var(--black);
    height: 150px;
}

.block_cake {
    display: flex;
}