:root {
    --white: #fff;
    --black: #000000;
    --orange: #FF6336;
    --header-border: #ccc;
    --btn-hover-grey: #343434;
    --block2:#FF9C7D;
}

*,
*::after,
::before {
    box-sizing: border-box;
}

body {
    height: 100%;
    line-height: 21px;
    font-family: 'graphik_lcgregular', 'graphik_lcgsemibold', sans-serif;
    color: var(--white);
}

#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

#header {
    display: flex;
    padding: 23px 50px 23px 50px;
    border-bottom: 1px solid var(--header-border);
    /* margin-top: -25px; */
}

.logo-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-left: -27px;
    padding-top: 6px;
}

.header-menu {
    flex-grow: 1;
    display: flex;
    list-style: none;
    padding: 0 0 0 14px;
    margin: 0;
    color: var(--black);
    padding-top: 9px;
}

.header-menu>li {
    padding: 0 27px;
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}

.header-menu li:hover {
    background: var(--orange);
    border-radius: 10px 5px;
}

.btn-wrapp {
    display: flex;
    list-style: none;
    gap: 0 7px;
    text-decoration: none;
}

.btn {
    min-width: 122px;
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}

.btn:hover {
    background: var(--header-border);
    color: #343434;
}

.btn_two {
    min-width: 123px;
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    border-radius: 0px;
    color: var(--white);
    background: var(--orange);
    text-decoration: none;
}

.btn_two:hover {
    background: #08a820;
    color: var(--black);
}

.text1 {
    padding-top: 80px;
}

.text1 h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: var(--black);
    
}

.text1 p {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: var(--black);
    padding-top: 11px;
}

.text1 .p_1 {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--black);
    padding-top: 8px;
}

.btn-wrapp-two {
    display: flex;
    list-style: none;
    gap: 0 7px;
    text-decoration: none;
    margin-right: 24px;
    margin-top: 51px;
}

.btn_3 {
    min-width: 161px;
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    border-radius: 0px;
    color: var(--white);
    background: var(--orange);
    text-decoration: none;
}

.btn_3:hover {
    background: #08a820;
    color: var(--black);
}

.btn_4 {
    min-width: 161px;
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}

.btn_4:hover {
    background: var(--header-border);
    color: #343434;
}

.image1 img {
    padding-top: 153px;
}

.block2_1 {
background: var(--block2);
height: 455px;
margin-top: 160px;
}

.text2 h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: var(--black);
    padding-top: 100px;
    padding-left: 110px;
}

.icons {
list-style: none;
display: flex;
}

.icons>li {
    padding-left: 53px;
    padding-top: 44px;
}

.two {
padding-left: 33px;
}

.container_three {
    max-width: 1440px;
    width: 100%;
    padding: 0;
}

.text2_block2 {
padding-top: 203px;
}

.text2_h1 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: var(--black);
}

.text2_p {
    font-family: 'graphik_lcgregular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    padding-bottom: 10px;
}

.text2_block2 a {
color: var(--black);
}

.btn_4 {
    font-family: 'graphik_lcgsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    border: none;
}

.image2 {
    padding-top: 45px;
    padding-left: 84px;
}

.text3_block3 {
    flex-direction: row-reverse;
}